<strong>Na platformi postoje dva tipa referral programa:</strong>
</br>
- za DM2 tokene (tokom trajanja Ponude Sigurnosnih Tokena)
</br>
- za decimetre kvadratne (svaki projekat ima svoj referral program u fazi finansiranja)
</br>
</br>
</br>
<strong style='font-size: 1.2rem;'>Referral program za DM2 tokene</strong>
</br>
</br>
<strong>Uslovi za učešće:</strong>
</br>
- Potrebno je da posedujete najmanje 150 DM2 tokena u svom vlasništvu
</br>
</br>
<strong>Kako funkcioniše program:</strong>
</br>
- Možete ostvariti bonus do 5% od ukupnog broja DM2 tokena koje kupe korisnici koje ste preporučili
</br>
- Procenat bonusa zavisi od vašeg nivoa, a nivo se određuje na osnovu broja decimetara kvadratnih u konkretnom projektu
koje posedujete
<table>
  <tr>
    <th>Broj tokena u Vašem vlasništvu</th>
    <th>Procenat koji ostvarujete</th>
  </tr>
  <tr>
    <td>150-500</td>
    <td>1%</td>
  </tr>
  <tr>
    <td>500-1500</td>
    <td>1.5%</td>
  </tr>
  <tr>
    <td>1500-5000</td>
    <td>2%</td>
  </tr>
  <tr>
    <td>5000-10000</td>
    <td>3%</td>
  </tr>
  <tr>
    <td>10000-30000</td>
    <td>4%</td>
  </tr>
  <tr>
    <td>30000+</td>
    <td>5%</td>
  </tr>
</table>
</br>
<strong>Kako da pozovete druge i ostvarite bonus:</strong>
</br>
- Prijavite se na svoj nalog na adresi <a href="https://platforma.decimetarkvadratni.com" target="_blank"
  rel="noopener noreferrer">platforma.decimetarkvadratni.com</a>
</br>
- Otvorite stranicu Moj nalog gde ćete pronaći svoj jedinstveni referral link
</br>
- Podelite svoj link sa prijateljima, kolegama ili drugima iz svoje mreže i pozovite ih da se pridruže i investiraju u
DM2 tokene
</br>
</br>
</br>
</br>
<strong style='font-size: 1.2rem;'>Referral program za decimetre kvadratne</strong>
</br>
</br>
<strong>Uslovi za učešće:</strong>
</br>
- Potrebno je da posedujete najmanje 1 decimetar kvadratni u aktuelnom projektu
</br>
- Korisnici koje preporučite moraju biti novi investitori. Ako preporučite projekat već postojećim korisnicima, bonus se
neće računati
</br>
</br>
<strong>Kako funkcioniše program:</strong>
</br>
- Možete ostvariti bonus do 3% od ukupnog broja decimetara kvadratnih koje kupe korisnici koje ste preporučili
</br>
- Procenat bonusa zavisi od vašeg nivoa, a nivo se određuje na osnovu broja decimetara kvadratnih u konkretnom projektu
koje posedujete
</br>
</br>
<table>
  <tr>
    <th>Broj dm2 u Vašem vlasništvu</th>
    <th>Procenat koji ostvarujete</th>
  </tr>
  <tr>
    <td>1-10</td>
    <td>1%</td>
  </tr>
  <tr>
    <td>10-50</td>
    <td>1.5%</td>
  </tr>
  <tr>
    <td>50-150</td>
    <td>2%</td>
  </tr>
  <tr>
    <td>150+</td>
    <td>3%</td>
  </tr>
</table>
</br>
<strong>Kako da pozovete druge i ostvarite bonus:</strong>
</br>
- Prijavite se na svoj nalog na adresi <a href="https://platforma.decimetarkvadratni.com" target="_blank"
  rel="noopener noreferrer">platforma.decimetarkvadratni.com</a>
</br>
- Otvorite stranicu Moji projekti i izaberite projekat koji je trenutno u fazi finansiranja, a u koji ste i sami
uložili. Na stranici projekta nalazi se vaš jedinstveni referral link za taj projekat
</br>
- Podelite svoj link sa prijateljima, kolegama ili drugima iz svoje mreže i pozovite ih da se pridruže i investiraju u
decimetre kvadratne
</br>