<strong>U okviru dm2 platforme postoje 2 vrste referral bonus programa:</strong>
</br>
- referral program za dm2 tokene (aktivan samo tokom trajanja Ponude Sigurnosnih Tokena)
</br>
- referral program za decimetre kvadratne (svaki projekat ima svoj referral program koji važi tokom faze finansiranja)
</br>
</br>
</br>
<strong style='font-size: 1.2rem;'>Referral program za dm2 token</strong>
</br>
</br>
<strong>Uslovi za učestvovanje:</strong>
</br>
- Morate posedovati minimum 150 tokena u sopstvenom vlasništvu
</br>
</br>
<strong>Kako funkcioniše referral bonus program za dm2 tokene:</strong>
</br>
- Zaradite i do 5% od ukupnog broja dm² tokena koje kupe korisnici koje ste preporučili
</br>
- Procenat bonus tokena zavisi od Vašeg nivoa, koji se određuje na osnovu broja dm² tokena u Vašem vlasništvu</br></br>
<table>
  <tr>
    <th>Broj tokena u Vašem vlasništvu</th>
    <th>Procenat koji ostvarujete</th>
  </tr>
  <tr>
    <td>150-500</td>
    <td>1%</td>
  </tr>
  <tr>
    <td>500-1500</td>
    <td>1.5%</td>
  </tr>
  <tr>
    <td>1500-5000</td>
    <td>2%</td>
  </tr>
  <tr>
    <td>5000-10000</td>
    <td>3%</td>
  </tr>
  <tr>
    <td>10000-30000</td>
    <td>4%</td>
  </tr>
  <tr>
    <td>30000+</td>
    <td>5%</td>
  </tr>
</table>
</br>
<strong>Kako da pozovete druge i ostvarite bonus:</strong>
</br>
- Prijavite se na svoj nalog na adresi platforma.decimetarkvadratni.com
</br>
- Otvorite stranicu Moj nalog gde ćete pronaći svoj jedinstveni link za preporuke
</br>
- Podelite svoj link sa prijateljima, kolegama ili drugima iz svoje mreže i pozovi ih da se pridruže i investiraju u dm²
tokene
</br>
</br>
<strong style='font-size: 1.2rem;'>Referral program za decimetre
  kvadratne</strong></br></br><strong>Uslovi za učestvovanje:</strong></br>- Morate posedovati minimum 1 decimetar
kvadratni za aktuelni projeka</br>- Korisnci koje preporučite moraju biti novi (Ukoliko preporučite projekat već
postojećim korisnicma, bonus se neće računati)</br></br><strong>Kako funkcioniše referral bonus program za dm2
  tokene:</strong></br>- Zaradite i do 3% od ukupnog broja decimetara kvadratnih koje kupe korisnici koje ste
preporučili</br>- Procenat bonus tokena zavisi od Vašeg nivoa, koji se određuje na osnovu broja dm² u konkretnom
projektu u Vašem vlasništvu</br></br>
<table>
  <tr>
    <th>Broj dm2 u Vašem vlasništvu</th>
    <th>Procenat koji ostvarujete</th>
  </tr>
  <tr>
    <td>1-10</td>
    <td>1%</td>
  </tr>
  <tr>
    <td>10-50</td>
    <td>1.5%</td>
  </tr>
  <tr>
    <td>50-150</td>
    <td>2%</td>
  </tr>
  <tr>
    <td>150+</td>
    <td>3%</td>
  </tr>
</table>
</br>
<strong>Kako da pozovete druge i ostvarite bonus:</strong>
</br>
- Prijavite se na svoj nalog na adresiplatforma.decimetarkvadratni.com
</br>
- Otvorite stranicu Moji Projekti i izaberite projekat koji je trenutno fazi finansiranja, a u koji ste i sami uožili.
Na stranici projekta ćete pronaći svoj jedinstveni link za preporuke za taj
projekat
</br>
- Podelite svoj link sa prijateljima, kolegama ili drugima iz svoje mreže i pozovi ih da se pridruže i investiraju u
decimetre kvadratne
</br>